body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    top: 0;
}