.container {
    width: 80%;
    height: 400px;
    background-color: lightblue;
    padding: 10px 40px 10p 40px;
    margin: 5px 10% 5px 10%;
}

h1 {
    font-size: 60x;
    color: darkslateblue;
    text-align: center;
}

h3 {
    font-size: 60x;
    color: darkslateblue;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    color: darkslategray;
    padding-left: 20px;
    padding-right: 20px;
}

.count-button {
    padding-left: 20px;
    padding-right: 20px;
}

#no-page {
    font-size: 100px;
}